body{ background-color: #EFEFEF; margin: 0; }
a { color: inherit; /*继承祖辈的属性*/ text-decoration: none; /*不要下划线*/ }
*{ margin: 0px; padding: 0px; }
hr{ height: 0; border: none; border-top: 1px solid #E4E4E4; }
ul, ol { list-style: none; }
h1,h2,h3,h4,h5,h6{font-weight: normal}
.clearfix::after{ content: ''; display: block; clear: both; } /* clearfix 伪类 清除浮动 一定要熟记！！！！ */

/* 将topNavBar下移一些像素 */
.topNavBar { padding: 20px 0; position: fixed; /* 使topNavBar 脱离文档流 */ top: 0; left: 0; width: 100%; transition: all .5s; color: #B7B7B7; }
/* 设置四周边距，上右下左逆时针 ，中间空格隔开，结尾用分号结束 */
.topNavBar.sticky{ background: white; box-shadow:0px 8px 16px -6px rgba(0, 0, 0, .1); color: #3d4451; padding: 10px 0; z-index: 1; }
.topNavBar-inner { padding: 0 16px; /* 设置四周边距，上右下左逆时针 ，中间空格隔开，结尾用分号结束 */ } /* 将navbar的高度补到40 */
.topNavBar nav { padding-top: 5px; } /* 去除list 小圆点 */
.topNavBar nav > ul { list-style: none; margin: 0; padding: 0; }
.topNavBar nav > ul > li{ float: left; margin-left: 17px; margin-right: 17px; position: relative;}/* 设置li的左右内边距 */
/* 设置下边框3px，同时给了上下内边距5px, 发现li的高度和a标签高度不同，所以给了display:block属性，使li能够完全包裹住a标签 */
/* 因为下边距给了3像素，为了使文字在高度的视觉上水平居中，所以我们给了上描边3像素，并设置为透明(transparent) */
.topNavBar nav > ul > li >a { font-size: 12px; color: inherit; text-decoration: none; font-weight: bold; border-top: 3px solid transparent; border-bottom: 3px solid transparent; padding-top: 5px; padding-bottom: 5px; display: block; position: relative;}
.topNavBar nav > ul > li.active >a::after { content: ''; display: block; position:absolute; top: 100%; left: 0; width: 100%; background: #e06567; height: 3px; animation: menuSlide .3s; }
@keyframes menuSlide{ 0% { width: 0; } 100% { width: 100%; } }


.topNavBar .submenu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  color: #3d4451;
  font-size: 13px;
  padding: 10px 20px;
  padding-bottom: 26px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}
.topNavBar li.active>.submenu { display: block; animation: submenuSlide .3s; }
@keyframes submenuSlide{
  0%{margin-right: 100%}
  100% { margin-right: 0% }
 }
.topNavBar .submenu > li { white-space: nowrap;margin-top: 10px; animation: menuSlide .3s; }


.topNavBar .logo { font-size: 24px; font-family: 'Arial Black'; padding-top: 3px; padding-bottom: 4px; } /* 如果字体名称中包含空格，那么请用单引号将文字名称包裹起来，如果有多个字体，请用逗号分开，最后最后别忘了写； */
.topNavBar .logo .rs{ margin-right: 4px; color: #E6686A; }
.topNavBar .logo .card { color: #999; }
.banner{ height: 515px; background-image: url(../img/wallhaven.jpg); background-position: center center; /* 这个属性是让图片在屏幕中 */ background-size: cover; } 
 /* background-size: cover   是按比例填充框架，图片按比例放置在框架中。可能会被裁剪，但用的最多。 background-size: contain 是按比例适合内容，图片全部放置在框架中，可能会有宽度和高度不够而透出来的问题 */
.banner .mask{ height: 515px; background-color:rgba(12, 10, 37, 0.705); }
.userCard { max-width: 940px; margin-left: auto; margin-right: auto; background-color:#FFF; }
.userCard .welcome { background-color:#E6686A; color: white; display: inline-block; padding: 4px 16px; line-height: 22px; position: relative; margin-bottom: 10px; }
.userCard .welcome .triangle{ display: block; border: 10px solid transparent; width: 0px; border-left-color: #E6686A; border-top-width: 0px; position: absolute; left: 4px; top: 100%; }
.userCard .picture { float: left; } .userCard .text{ float: left; margin-left: 65px; width: 470px; }

/* 这里一定注意h1前面没有小数点，他不是一个类！它是一个标签。凡是标签都不用点 */
.userCard .pictureAndText .text h1{ margin: 16px 0px 12px; }
.userCard .text hr{ margin: 20px 0px; }
.userCard .pictureAndText{ padding: 50px; }
.userCard dl dt, .userCard dl dd{ float: left; padding: 8px 0px; }
.userCard dl dt{ width: 20%; font-weight: bold; }
.userCard dl dd{ width: 80%; color: #9da0a7; }
.userCard > footer.media { background: #e6686a; text-align: center; }
.userCard > footer.media > a { display: inline-block; width: 40px; line-height: 30px; padding: 5px 0; border-radius: 50%; margin: 16px; }
.userCard > footer.media > a:hover { background: #cf5d5f; }
.userCard svg { width: 30px; height: 30px; fill: white; vertical-align: top; }
body > main { margin-top: -340px; }
body > main .downloadResume-wrapper { text-align: center; }
body > main .downloadResume { color: #cf5d5f; font-size: 14px; line-height: 16px; padding: 21px 55px; border: 1px solid #e6e6e6; background: #fafcff; display: inline-block; border-radius: 2px; font-weight: bold; margin: 32px 0; transition: all 0.3s; }
body > main .downloadResume:hover { color: #ffffff; background: #cf5d5f; border: 1px solid #cf5d5f; box-shadow: 0px 4px 13px 0px rgba(102, 31, 31, 0.2); }

.selfIntroduction { max-width: 940px; margin-left: auto; margin-right: auto; text-align: center; font-family: kai; line-height: 1.8; font-size: 18px; }
section.skills, section.portfolio{ max-width: 940px; margin-left: auto; margin-right: auto; margin-top: 60px; }
section.skills > h2 , section.portfolio > h2 { text-align: center; color: #3d4451; font-size: 34px; line-height: 1.2; font-weight: 600; }
section.skills h3 { font-size: 14px; line-height: 1.1; padding-right: 40px; }
section.skills > ol { background: white; box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.05); padding: 42px 50px 10px; margin-top: 30px; }
section.skills > ol > li { float: left; width: 48%; box-sizing: border-box; }
section.skills > ol > li:nth-child(even) { float: right; }
section.skills .progressBar { height: 5px; background: #FAE1E1; border-radius: 2px; margin: 4px 0 40px; }
section.skills .progressBar > .progress { height: 100%; background: #E6686A; width: 70%; border-radius: 2px; }
section.portfolio { text-align: center; margin-bottom: 100px; }
section.portfolio > nav{ text-align: center; }
section.portfolio > nav > ol{ margin: 0 auto; display: inline-block; vertical-align: top; }
section.portfolio > nav > ol > li{ float: left; margin-left: 40px; cursor: pointer; }
section.portfolio > nav > ol > li:first-child{ margin-left: 0; }
section.portfolio > nav{ display: inline-block; vertical-align: top; margin-top: 32px; }
section.portfolio > nav .bar{ height: 5px; background: white; margin-top: 5px; margin-bottom: 28px; border-radius: 2px; }
section.portfolio > nav .bar-inner{ height: 100%; background: #E6686A; border-radius: 2px; transition: all 0.3s; }
section.portfolio > nav .bar.state-1 .bar-inner{ margin-left: 0; width: 32px; }
section.portfolio > nav .bar.state-2 .bar-inner{ margin-left: 65px; width: 50px; }
section.portfolio > nav .bar.state-3 .bar-inner{ margin-left: 142px; width: 96px; }
section.portfolio .works{ position: relative; }
section.portfolio .works > .big, section.portfolio .works > .small { position: absolute; }
