body{
  background-color: black;
  color: white; /* 这里需要注意下方的a标签logo并没有继承这里的颜色，因为浏览器默认指定了一个a标签的颜色，除非我们单独指定a的颜色。指定的时候可以指定它继承祖先，也可以直接设置颜色。*/
  margin: 0;
}

a{
  color: inherit; /*继承祖辈的属性*/
  text-decoration: none;/*不要下划线*/
}

 /*
 clearfix 伪类 清除浮动 
 一定要熟记！！！！ 
 */
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}


/* 将topNavBar下移一些像素 */
.topNavBar {
  padding: 20px 16px 20px 16px; /* 设置四周边距，上右下左逆时针 ，中间空格隔开，结尾用分号结束 */
}



/* 将navbar的高度补到40 */
.topNavBar > nav {
  padding-top: 7px;
}


/* 去除list 小圆点 */
.topNavBar > nav > ul {
  list-style: none;  
  margin: 0;
  padding: 0;
}

/* 设置li的左右内边距 */
.topNavBar > nav > ul > li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}



/*
  设置下边框3px，同时给了上下内边距5px,
  发现li的高度和a标签高度不同，所以给了display:block属性，使li能够完全包裹住a标签
*/
.topNavBar > nav > ul > li >a {
  font-size: 12px;
  color: #B7B7B7;
  text-decoration: none;
  font-weight: bold;
  border-top: 3px solid transparent; /* 因为下边距给了3像素，为了使文字在高度的视觉上水平居中，所以我们给了上描边3像素，并设置为透明(transparent) */
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px; 
  display: block;
}

/*
  设置a标签的鼠标经过效果
*/
.topNavBar > nav > ul > li >a:hover {
  border-bottom: 3px solid red;
}


.topNavBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';/* 如果字体名称中包含空格，那么请用单引号将文字名称包裹起来，如果有多个字体，请用逗号分开，最后最后别忘了写； */
  padding-top: 3px;
  padding-bottom: 4px;
}


.topNavBar .logo .rs{
  margin-right: 4px;
  color: #E6686A;

}

.topNavBar .logo .card {
  color: #999;
}